.username {
    color: black;
}

.login-btn,
.logout-btn,
.signup-btn {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid white;
}

.login-btn:hover,
.logout-btn:hover,
.signup-btn:hover {
    background-color: gray;
    color: #333;
}