#bottom-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1svh;
}

#bottom-left-profile-container {
    display: flex;
    align-items: center;
}


#bottom-left-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#bottom-left-buttons-login,
#bottom-left-buttons-signup,
#bottom-left-buttons-logout {
    margin-right: 10px;
}