RewriteEngine On

# Redirect to home page
RewriteRule ^$ /home [L,R=301]

# Handle static files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite rules for specific pages
RewriteRule ^home$ /whisper/home/index.php [L]
RewriteRule ^following$ /whisper/following/index.php [L]
RewriteRule ^messages$ /whisper/messages/index.php [L]
RewriteRule ^login$ /whisper/login/index.php [L]
RewriteRule ^signup$ /whisper/signup/index.php [L]
RewriteRule ^maintenance$ /whisper/maintenance/ [R=301,L]

# Redirect servers
RewriteRule ^profile$ /server/profile.php [L]
RewriteRule ^logout$ /server/logout.php [L]

# Rewrite rule for POST servers
RewriteRule ^server/vote$ /server/vote.php [L]
RewriteRule ^server/follow$ /server/follow.php [L]
RewriteRule ^server/login$ /server/login.php [L]
RewriteRule ^server/signup$ /server/signup.php [L]
RewriteRule ^server/signup_verify$ /server/signup_verify.php [L]
RewriteRule ^server/create/post$ /server/create_post.php [L]
RewriteRule ^server/update/username$ /server/update_username.php [L]
RewriteRule ^server/update/profile$ /server/update_profile.php [L]
RewriteRule ^server/post/message$ /server/post_message.php [L]
RewriteRule ^server/post/publicKeyJWK$ /server/post_publicKeyJwk.php [L]

# GET servers
RewriteRule ^server/following/?$ /server/following.php [L]
RewriteRule ^server/conversations/?$ /server/conversations.php [L]
RewriteRule ^server/keyPairId/?$ /server/keyPairId.php [L]
RewriteRule ^server/getUUID/?$ /server/getUUID.php [L]
RewriteRule ^server/messages/([^/]+)$ /server/messages.php?username=$1 [L]
RewriteRule ^server/posts/?$ /server/posts.php [L]
RewriteRule ^server/posts/([^/]+)$ /server/posts.php?username=$1 [L]
RewriteRule ^u/([^/]+)/?$ /whisper/user/index.php?username=$1 [L,QSA]
RewriteRule ^server/publicKeyJwk/([^/]+)/?$ /server/publicKeyJwk.php?username=$1 [L,QSA]
RewriteRule ^message/([^/]+)/?$ /server/message.php?username=$1 [L,QSA]
RewriteRule ^search/([^/]+)/?$ /whisper/search_results/index.php?query=$1 [L,QSA]
RewriteRule ^server/search/([^/]+)/?$ /server/search.php?query=$1 [L,QSA]
