body {
    font-family: 'Arial', sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

}

.web-container {
    display: flex;
    justify-content: space-between;
    padding: 13px 4%;
}

.left-sidebar {
    flex-basis: 20%;
    top: 30px;
    align-self: flex-start;
    height: 90svh;
    margin-top: 1%;
    position:sticky;
}

.right-sidebar {
    flex-basis: 20%;
    top: 30px;
    align-self: flex-start;
    margin-top: 1%;
    position:sticky;
}

.main-content {
    flex-basis: 50%;
}