#profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#profile-container-large {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 24px;
}

#profile-container-large-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#profile-container-large-username {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

