#profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-edit-options button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
