#postsFeedContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.displayPostContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid var(--whisper-border);
}


.displayPostContainer:hover {
    background-color: var(--whisper-overlay);
    transition: background-color 200ms ease-in-out;
}

.displayPostContainerPart2 p {
    max-width: 500px;
    white-space: pre-line;
    word-wrap: break-word;
    margin-bottom: 4px;
}

.displayPostContainer .voteCount {
    margin-left: 24px;
    width: 150px;
}

.displayPostContainerPart1 {
    margin-right: 12px;
}

.displayPostContainerPart2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 4px;
}

/* .displayPostContainer input[type="file"] {
    width: 100%;
} */

.displayPostTextArea {
    width: 100%;
    height: auto;
    font-size: 20px;
    word-wrap: break-word;
    border: none;
    outline: none;
    margin-bottom: 12px;
    resize: none;
}

.displayPostTextArea::selection {
    background-color: #b3d4fc;
    /* Change caret color here */
}

.displayPostContainer input[type="file"] {
    display: none;
}

/* .displayPostContainer .btn {
    display: block;
} */

.displayPostButtons {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.displayPostButtons0 {
    display: flex;
    align-items: center;
}

.displayPostButtons .btn {
    margin-left: 4px;
}

.displayPostButtons2 {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.displayPostButtons3 {
    display: flex;
    align-items: center;
}

.displayPostButtons .fa-image {
    margin-right: 10px;
}

.displayPostButtons3 .btn {
    margin-left: 4px;
    margin-bottom: 8px;
}

.displayPostMediaPreview {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border-radius: 16px;
    border: 1px solid rgb(207, 217, 222);
    overflow: hidden;
}

.displayPostMediaPreview .image-preview,
.displayPostMediaPreview .video-preview {
    max-height: 500px;
}

#postsFeedContainer .errorMessage {
    margin-top: 8px;
}

.displayPostButtons2 .btn2 {
    width: 100px;
}

.approveCount {
    align-self: flex-start;
    margin-left: 24px;
    margin-top: 10px;
}