#postsFeedContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.displayPostContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    padding: 12px;
    border-bottom: 1px solid var(--whisper-border);
}

#displayPostContainerPart2 h2 {
    font-size: var(--whisper-font-size);
}

#displayPostContainerPart2 p {
    max-width: 500px;
    white-space: pre-line;
    word-wrap: break-word;
    margin-bottom: 4px;
}

.displayPostContainer .voteCount {
    width: 70px;
}

#displayPostContainerPart1 {
    margin-right: 12px;
}

#displayPostContainerPart2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    margin-top: 4px;
}

/* .displayPostContainer input[type="file"] {
    width: 100%;
} */

#displayPostTextArea {
    width: 100%;
    height: auto;
    font-size: 20px;
    word-wrap: break-word;
    border: none;
    outline: none;
    margin-bottom: 12px;
    resize: none;
}

#displayPostTextArea::selection {
    background-color: #b3d4fc; /* Change caret color here */
}

.displayPostContainer input[type="file"] {
    display: none;
}

/* .displayPostContainer .btn {
    display: block;
} */

#displayPostButtons {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 12px;
}

#displayPostButtons .fa-image {
    margin-right: 10px;
}

#displayPostButtons .btn {
    margin-left: 4px;
}

#displayPostMediaPreview {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#displayPostMediaPreview .image-preview,
#displayPostMediaPreview .video-preview {
    max-height: 500px;
    border-radius: 16px;
}