#updateProfileContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 50px auto;
    align-items: center;
}

#cropper-container {
    display: block;
    width: 100%;
    height: 300px;
    /* border: 1px solid #ccc; */
    overflow: hidden; /* Ensuring image doesn't overflow */
}

#cropper_image {
    max-width: 100%; /* Ensuring image fits within container */
    max-height: 100%; /* Ensuring image fits within container */
    display: block; /* Removing any default inline layout */
}

/* Styling the crop button */
#cropButton {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

/* Styling the file input 
#inputImage {
    padding: 0px !important;
}
*/

#updateProfileContainer input[type="file"] {
    display: none;
}

#updateProfileContainer .btn {
    margin: 0px 4px;
}

/* #updateProfileContainer .fa-image {
    margin-right: 10px;
} */

#updateProfileContainerButtons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 12px;
}
