#bottom-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
}

#bottom-left-profile-container {
    display: flex;
    align-items: center;
}

#bottom-left-profile-picture {
    margin-right: 16px;
}

#bottom-left-buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#bottom-left-buttons-login,
#bottom-left-buttons-signup,
#bottom-left-buttons-logout {
    margin-top: 10px;
}