.topbar-middle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 12px;
    top: 0px;
    position: sticky;
    border-bottom: 1px solid var(--whisper-border);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
}

.topbar-middle-text {
    font-size: var(--whisper-font-size-large);
    font-weight: bold;
}