.logo-link {
    font-size: 23px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    padding-left: 4svw;
    padding-top: 2svh;
    justify-content: space-between;
    align-self: flex-end;
    margin-right: 4vw;
    height: 100%;
}

.imp-links {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.imp-links>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    align-items: center;
    width: fit-content;
    padding-bottom: 5px;
    padding-top: 5px;
}

.imp-links>a:hover {
    background-color: #e0e0e0;
    width: 100%;
    border-radius: 5px;
}

.imp-links>a>i {
    margin-right: 15px;
}

.bottom-left {
    align-self: flex-start;
}