.logo-link {
    font-size: 23px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    padding-top: 2svh;
    justify-content: space-between;
    margin-right: 4vw;
    height: 100%;
}

.imp-links {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.imp-links>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    align-items: center;
    width: fit-content;
    padding: 16px 16px;
}

.imp-links>a:hover {
    background-color: var(--whisper-background);
    border-radius: 30px;
}

nav a.active {
    color: var(--whisper-color);
}

.imp-links>a>i {
    margin-right: 15px;
}

.bottom-left {
    align-self: flex-start;
}