.logo-link {
    font-size: 23px;
}

.sidebar-container {
    align-self: flex-end;
    flex: 0 0 100% !important;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

.imp-links {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.imp-links>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    align-items: center;
    width: fit-content;
    padding: 16px 16px;
}

.imp-links>a:hover {
    background-color: var(--whisper-border);
    border-radius: 30px;
}

nav a.active {
    color: var(--whisper-color);
}

.imp-links>a>i {
    margin-right: 15px;
}

.bottom-left {
    align-self: flex-start;
}