.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
}

.container h1 {
    color: #333;
}

.container form {
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.container input[type="text"],
.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.container button:hover {
    background-color: #0056b3;
}

#postForm {
    background-color: #fff;
    padding: 12px;
    border-bottom: 1px solid var(--whisper-background);
}

.post {
    background-color: #fff;
    padding: 12px;
    border-bottom: 1px solid var(--whisper-background);
}

.post h2 {
    color: #333;
}

.post p {
    color: #555;
    white-space: pre-line;
}

.post button {
    background-color: #ddd;
    color: #333;
    margin-right: 10px;
}

.post button:hover {
    background-color: #ccc;
}
