* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --whisper-color: #7856ff;
    --whisper-color-alt: #6c4de6;
    --whisper-border: #e6ecf0;
    --whisper-font-size: 16px;
    --whisper-font-size-large: 20px;
    --whisper-background: #FFF;
    --whisper-selected: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--whisper-background);
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(185, 202, 211) rgb(247, 249, 249);
}

h2 {
    font-size: var(--whisper-font-size-large);
}

.web-container {
    display: flex;
    align-items: flex-start;
    max-width: 1326px !important;
    width: 1326px !important;
    margin-left: auto;
    margin-right: auto;
}

.left-sidebar {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    width: 300px !important;
    top: 0px;
    height: 100svh;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid var(--whisper-border);
}

.main-content {
    flex: 0 0 1026px !important;
    max-width: 1026px !important;
    width: 1026px !important;
    display: flex;
    align-items: flex-start;
}

.middle-feed {
    flex: 0 0 600px !important;
    max-width: 600px !important;
    width: 600px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-sidebar {
    flex: 0 0 426px !important;
    max-width: 426px !important;
    width: 426px !important;
    top: 0px;
    height: 100svh;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid var(--whisper-border);
}


.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-username {
    font-size: var(--whisper-font-size);
    font-weight: bold;
}

.login-btn,
.logout-btn,
.signup-btn {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--whisper-color);
}

.login-btn:hover,
.logout-btn:hover,
.signup-btn:hover {
    background-color: var(--whisper-color-alt);
}

.btn {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 0px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--whisper-color);
}

.btn:hover {
    background-color: var(--whisper-color-alt);
}

.btn-alt {
    background-color: gray;
}

.btn-alt:hover {
    background-color: rgb(110, 110, 110);
}

.btn2 {
    height: 36px;
    width: 48px;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn-selected {
    color: var(--whisper-selected);
    transition: color 0.2s ease;
}

/* Initially using regular icons 
a .far {
}
*/

/* When the link is active, switch to solid icons */
a.active .far {
    font-weight: bold;
}

input[type="checkbox"]:checked + label .fas {
    color: var(--whisper-selected);
    transition: color 0.2s ease;
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}

.hidden {
    display: none !important;
}

.username_link {
    text-decoration: none;
    color: black;
}

.username_link:hover {
    text-decoration: underline;
}