* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --whisper-color: rgb(120, 86, 255);
    --whisper-background: #e6ecf0;
    font-family: 'Arial', sans-serif;
    background-color: #FFF;
}

.web-container {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 21%;
    flex-grow: 1;
    flex-shrink: 0;
    top: 0px;
    align-self: flex-start;
    height: 100svh;
    position: sticky;
    border-right: 1px solid var(--whisper-background);
    min-width: 250px;
    align-items: center;
}


.middle-feed {
    flex-basis: 58%;
    top: 0px;
    align-self: flex-start;
}

.right-sidebar {
    flex-basis: 42%;
    top: 0px;
    align-self: flex-start;
    height: 100svh;
    position: sticky;
    border-left: 1px solid var(--whisper-background);
}

.main-content {
    flex-basis: 75%;
    align-self: flex-start;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-username {
    font-size: 16px;
    font-weight: bold;
}

.login-btn,
.logout-btn,
.signup-btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
}

.login-btn:hover,
.logout-btn:hover,
.signup-btn:hover {
    background-color: #0056b3;
}