* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --whisper-color: #7856ff;
    --whisper-color-alt: #6c4de6;
    --whisper-border: #e6ecf0;
    font-family: 'Arial', sans-serif;
    background-color: #FFF;
    scrollbar-color: rgb(185, 202, 211) rgb(247, 249, 249);
}

.web-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1366px !important;
    margin-left: auto;
    margin-right: auto;
}

.left-sidebar {
    flex: 0 0 326px !important;
    top: 0px;
    height: 100svh;
    position: sticky;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--whisper-border);
}

.main-content {
    flex: 1 0 1024px !important;
    align-items: flex-start;
    display: flex;
}

.middle-feed {
    flex: 0 0 600px !important;
    top: 0px;
    align-self: flex-start;
}

.right-sidebar {
    flex: 1 0 440px !important;
    top: 0px;
    align-self: flex-start;
    height: 100svh;
    position: sticky;
    border-left: 1px solid var(--whisper-border);
}


.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-username {
    font-size: 16px;
    font-weight: bold;
}

.login-btn,
.logout-btn,
.signup-btn {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--whisper-color);
}

.login-btn:hover,
.logout-btn:hover,
.signup-btn:hover {
    background-color: var(--whisper-color-alt);
}

.btn {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--whisper-color);
}

.btn:hover {
    background-color: var(--whisper-color-alt);
}