.createPostContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    padding: 12px;
    border-bottom: 1px solid var(--whisper-border);
}

#createPostContainerPart1 {
    margin-right: 12px;
}

#createPostContainerPart2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
}

/* .createPostContainer input[type="file"] {
    width: 100%;
} */

#createPostTextArea {
    width: 100%;
    height: auto;
    font-size: 20px;
    word-wrap: break-word;
    border: none;
    outline: none;
    margin-bottom: 12px;
    resize: none;
}

#createPostTextArea::selection {
    background-color: #b3d4fc; /* Change caret color here */
}

.createPostContainer input[type="file"] {
    display: none;
}

.createPostContainer .btn {
    display: block;
}

#createPostMediaPreview {
    display: flex;
    max-height: 500px;
}

#createPostButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin-top: 12px; */
}

#createPostButtonsStart {
    display: flex;
}

#createPostButtonsStart .btn {
    display: flex;
    margin-right: 4px;
}

#createPostButtons .fa-image {
    margin-right: 10px;
}

#createPostPostButton {
    font-size: 16px;
}

.createPostContainer .image-preview,
.createPostContainer .video-preview {
    max-width: 100%;
    border-radius: 16px;
}